/* Variables were removed and colors replaced */

.doctor-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  max-width: 280px;
}
.doctor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card-image-container {
  background-color: #f5f7fa; /* Light background like in the image */
  height: 250px; /* Fixed height for image area */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align doctor image to the bottom */
}

.doctor-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: top; /* Adjust as needed */
}

.card-content {
  padding: 15px;
}

.availability {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #ccc; /* Default color */
}

.status-dot.available {
  background-color: #37c737; /* Available Green */
}

.doctor-name {
  font-size: 18px;
  font-weight: 700;
  color: #333;
  margin: 0 0 5px 0;
}

.doctor-specialty {
  font-size: 14px;
  color: #666;
  margin: 0;
}
