.app-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.app-modal.is-open {
  display: flex;
}
.app-modal-content {
  width: 500px;
  background: #fff;
  border-radius: 8px;
}
.table th, .table td {
  text-align: center;
}